* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url("imagenes/G5.png");
    background-size: cover;
}

.envolver {
    width: 100%;
    height: 100vh;
    overflow: auto;
    
    backdrop-filter: blur(3px);
}

.BoxPrincipal {

    width: 80%;
    margin: 0 auto;

}

.Img {
    width: 300px;
    border-radius: 5%;
    overflow: auto;
    margin-bottom: 20px;
    box-shadow: 0px 0px 81px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 81px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 81px 0px rgba(0, 0, 0, 0.75);
    transition: all 0.2s ease;
}
.Img:hover{
    transform: scale(1.02);
}


.Perfil {
    width: 100%;
}

.BoxDateImg {
    width: 100%;
    background-color: rgba(rgb(138, 67, 67), rgb(166, 182, 166), rgb(93, 93, 141), 0.5);
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    align-items: center;
}

.BoxDate {
    background-color: rgba(rgb(138, 67, 67), rgb(166, 182, 166), rgb(93, 93, 141), 0.5);
    padding: 10px 10px;
}

.BoxTitulo {
    text-align: center;
    padding-top: 20px;
}

.BoxFrase {
    text-align: center;
    padding-top: 10px;
}

.info {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    line-height: 40px;
    font-style: italic;
}

.infoTit {
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 7px;
}

.Link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.Enlaces {
    font-family: cursive;
    font-size: 20px;
}
